---
import Fighter from "../Fighter.vue";
import Banner from "../landing/Banner.astro";
import Testimonials from "../landing/Testimonials.astro";
---

<section class="border-white/20 ">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="">
      <div class="text-white mx-auto pt-28 px-8 py-12 flex flex-col sm:flex-row  items-center justify-between border-white/20  border-b">

        <h1 class="text-5xl text-center sm:text-left sm:text-8xl font-display"> Naga Camp <br/> <span class="text-carrot"> Muay Thai</span> <br/> & Fitness Center</h1>

       <!-- <Fighter client:load /> -->
       <img src="/avatars/temp-avatar.png" alt="thai fighter avatar">
      </div>
    </div>
  </div>
</section>
