<section
  class="mx-auto border-white/20  border-t 2xl:max-w-7xl bg-black border-b justify-center lg:fixed lg:z-50 w-full">
  <div class="mx-auto bg-black justify-center w-full">
    <div
      class="mx-auto border-white/20  border-x max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full">
      <div
        class="text-white text-center items-center w-full flex flex-col justify-between md:px-0 sm:flex-row sm:px-12 mx-6 ">
        <a
          href="/#"
          class="text-white text-xs font-display inline-flex items-center space-x-4 md:px-8 md:text-center py-4 uppercase"
          > 
          <img src="/logos/naga-camp-logo.jpeg" class="h-16 " alt="the logo of the training camp">
          
          <span class="hidden sm:block">Naga Camp</span>

        </a>
        <a
          href="https://cal.com/abed42/naga-camp"
          class="  cursor-pointer bg-carrot duration-200 font-display hover:bg-blacktext-white w-auto px-6 py-4 sm:rounded-full text-black hover:text-white text-center text-xs uppercase "
          >Book a trial</a
        >
      </div>
    </div>
  </div>
</section>
